.food-lister{
  display:flex;
  flex-direction: column;
  margin-top:10px;
}
.load-more{
  margin: 10px 0px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.nutrients-modal{
  .title{
    font-size: 1.5em;
  }
}
