.diet-container {
  display: flex;
  flex-direction: column;
  .diet{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    .title {
      font-size: 2em;
      margin: 5px;
    }

    .left {margin: 0px 10px}

    .right {margin: 0px 10px}
  }
}
