.diet-linker {
  display: flex;
  flex-direction: column;
  .diet-linker-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    hr{
      border: 1px solid white;
    }
    .title {
      font-size: 1.3em;
    }
  }
}
